<div class="sidebar">
  <div class="logo"></div>
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">


      <hr>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://calendar.google.com/calendar/embed?src=uug7eb9ur7818nurkcsh6r8boc%40group.calendar.google.com&ctz=Europe/Brussels">Google Calendar</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="http://www.chalmers.se/en/research/doctoral-programmes/graduate-courses/Pages/department-graduate-courses.aspx?course=FDAT085">Course PM</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://groups.google.com/d/forum/fdat085-2017">Mailinglist</a>
    </nav>

  </div>
</div>
